* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  /* border: 2px solid blue; */
  /* margin: 1px; */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; /*This made the image small....  why?*/
}

.menu {
  background-color: #5995da; /*dark blue?*/
  height: 80px;
}

.header {
  background-color: #b2d6ff; /*light blue?*/
}

.content {
  background-color: #eaedf0; /*grey or paper sheet color*/
  height: 600px;
}

.sign-up {
  background-color: #d6e9fe; /*pale blue*/
}

.feature-1 {
  background-color: #f5cf8e; /*mustard yellow*/
}

.feature-2 {
  background-color: #f09a9d; /*pink-ish red*/
}

.feature-3 {
  background-color: #c8c6fa; /*purple*/
}

.header {
  height: auto;
  justify-content: inherit; /*I don't remember what this does*/
  align-items: inherit;
}

.photo img {
  width: 100%;
  display: block;
}
.illustration img {
  width: 100%;
  display: block;
}

/* Mobile Styles*/
@media only screen and (max-width: 400px) {
  body {
    background-color: #f09a9d; /* Red */
  }
}

/*tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e; /* Yellow */
  }

  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #b2d6ff; /* Blue */
  }

  .page {
    width: 960px;
    margin: 0 auto;
  }

  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }

  .header {
    height: 400px;
  }

  .sign-up {
    height: 200px;
    order: 2;
  }

  .content {
    order: 1;
  }
}
